body
{
	background-color: #ffffff;
	margin: 0;
	padding: 0;
	background-image:url("../graphics/white_texture.png");
}

div#container
{
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0px;
	bottom: 48px;
	left: 0px;
	right: 0px;
}
