[submodule "facebook-android-sdk"]
	path = facebook-android-sdk
	url = https://github.com/facebook/facebook-android-sdk.git
[submodule "anthracite-clients-android"]
	path = anthracite-clients-android
	url = git@github.com:cbitstech/anthracite-clients-android.git
