<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.northwestern.cbits.purple.notifier"
    android:versionCode="1"
    android:versionName="1.0" >
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="14" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
		<receiver android:name="edu.northwestern.cbits.purple.notifier.BasicWidgetProvider" android:label="@string/basic_widget_title">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>
			<meta-data android:name="android.appwidget.provider" android:resource="@xml/basic_appwidget_info" />
		</receiver>
		<receiver android:name="edu.northwestern.cbits.purple.notifier.TextWidgetProvider" android:label="@string/text_widget_title">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>
			<meta-data android:name="android.appwidget.provider" android:resource="@xml/text_appwidget_info" />
		</receiver>
		<activity android:name="edu.northwestern.cbits.purple.notifier.MainSettingsActivity" android:label="@string/app_name"  android:theme="@style/Theme.Sherlock">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
	        </intent-filter>
        </activity>
		<activity android:exported="true" android:name="edu.northwestern.cbits.purple.notifier.BasicSettingsActivity" android:label="@string/basic_widget_title" android:theme="@style/Theme.Sherlock">
            <intent-filter>
 				<action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
			</intent-filter>	
		</activity>
		<activity android:exported="true" android:name="edu.northwestern.cbits.purple.notifier.TextSettingsActivity" android:label="@string/text_widget_title" android:theme="@style/Theme.Sherlock">
            <intent-filter>
 				<action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
			</intent-filter>	
		</activity>
 		<receiver android:enabled="true" android:exported="true" android:name="edu.northwestern.cbits.purple.notifier.WidgetBroadcastReceiver" android:permission="edu.northwestern.cbits.purple.UPDATE_WIDGET">
		    <intent-filter>
		        <action android:name="edu.northwestern.cbits.purple.UPDATE_WIDGET" />
		    </intent-filter>
		</receiver>
		<service android:enabled="true" android:exported="false" android:name="edu.northwestern.cbits.purple.notifier.WidgetIntentService">
		    <intent-filter>
		        <action android:name="edu.northwestern.cbits.purple.UPDATE_WIDGET" />
		    </intent-filter>
		</service>
	</application>
</manifest>