<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="edu.northwestern.cbits.purple_robot_manager"
	android:versionCode="1"
	android:versionName="1.0">
	<uses-sdk android:minSdkVersion="8" android:targetSdkVersion="15" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
	<application android:label="@string/app_name"
		android:icon="@drawable/ic_launcher"
		android:theme="@style/AppTheme"
		android:name="PurpleRobotApplication">
		<receiver android:enabled="true" android:name=".BootUpReceiver"
			android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</receiver>
		<receiver android:name=".PurpleRobotAppWidgetProvider">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>
			<meta-data android:name="android.appwidget.provider" android:resource="@xml/appwidget_info" />
		</receiver>
		<service android:enabled="true" android:exported="false" android:name=".ManagerService">
			<intent-filter>
				<action android:name="purple_robot_manager_periodic_check" />
				<action android:name="purple_robot_manager_incoming_data" />
				<action android:name="purple_robot_manager_application_launch" />
				<action android:name="purple_robot_manager_refresh_configuration" />
				<action android:name="purple_robot_manager_haptic_pattern" />
				<action android:name="purple_robot_manager_ringtone" />
			</intent-filter>
	    </service>
 		<activity android:name=".StartActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
	        <intent-filter>
    	        <action android:name="android.intent.action.VIEW" />
        	    <category android:name="android.intent.category.DEFAULT" />
            	<category android:name="android.intent.category.BROWSABLE" />
            	<data android:scheme="cbits-prm" />
	        </intent-filter>
        </activity>
		<activity android:name=".SettingsActivity" android:label="@string/app_name" />
		<activity android:name=".DialogActivity" android:label="@string/app_name" android:theme="@android:style/Theme.Dialog" />
	</application>
</manifest>
